loglevel=warn
progress=false
package-lock=true
CYPRESS_DOWNLOAD_PATH_TEMPLATE=https://my.corporate.site/desktop/\${platform}-\${arch}/cypress.zip
# cypress_download_path_template=https://my.corporate.site/desktop/\${platform}-\${arch}/cypress.zip
